*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

.content-box-component {
  box-sizing: content-box;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.button {
  font: inherit;
  font-size: 17.5px;
  line-height: 17.5px;
  font-weight: 500;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #fb565a;
  border: none;
}

.button:hover {
  background-color: #e74246;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #d7373b;
}

.button--green {
  background-color: #00ca74;
}

.button--green:hover {
  background-color: #00bc6c;
}

.button--green:active {
  background-color: #00aa62;
}

.button--yellow {
  background-color: #efc84a;
}

.button--yellow:hover {
  background-color: #eab534;
}

.button--yellow:active {
  background-color: #e5a722;
}

.container {
  width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* index header */

.site-header {
  background-color: #eeeeee;
  padding-top: 49px;
}

.site-navigation {
  display: flex;
  justify-content: space-between;

  font-size: 17.5px;
  line-height: 31.5px;
  font-weight: 500;
  text-transform: uppercase;
}

.site-navigation a:first-child {
  width: 160px;

  line-height: 0px;
}

.site-navigation img:hover.logo {
  opacity: 0.8;
}

.site-navigation img:active.logo {
  opacity: 0.3;
}

.site-navigation__main {
  display: flex;

  list-style: none;
}

.site-navigation__main a,
.site-navigation__basket-link {
  color: #000000;
}

.site-navigation__main a:hover,
.site-navigation__basket-link:hover {
  color: #fb565a;
}

.site-navigation__main a:active,
.site-navigation__basket-link:active {
  color: rgba(0, 0, 0, 0.3);
}

/* index main features */

.features {
  margin-bottom: 80px;

  background-color: #eeeeee;
}

.features__item {
  min-height: 431px;
  padding-top: 85px;
  padding-bottom: 80px;
}

.features__item:nth-child(2) {
  background: url("../img/slide-1.png") right no-repeat;
}

.features__item:nth-child(3) {
  background: url("../img/slide-2.png") right no-repeat;
}

.features__item:nth-child(4) {
  background: url("../img/slide-3.png") right no-repeat;
}

.features__item div {
  width: 510px;
}

.features h3 {
  font-size: 54px;
  line-height: 54px;
  font-weight: 500;
}

.features p {
  color: #283136;
}

.features__switches {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

/* index main services */

.services {
  margin-bottom: 80px;
}

.services ul {
  display: flex;
  width: 1100px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.services li {
  width: 300px;
  margin-right: 100px;
}

.services li:last-child {
  margin-right: 0;
}

.services h3 {
  font-size: 24.5px;
  line-height: 31.5px;
  font-weight: bold;
  text-transform: uppercase;
}

.services p {
  font-size: 16px;
  line-height: 24px;
}

/* index main about-us */

.about-us {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 75px;
}

.about-us__left-column {
  width: 660px;
}

.about-us__left-column b {
  font-size: 45.5px;
  line-height: 45.5px;
  font-weight: 500;
}

.about-us__left-column p {
  color: #283136;
}

.about-us__left-column h3 {
  font-weight: bold;
  text-transform: uppercase;
}

.about-us__left-column ul {
  margin: 0;
  padding: 0;

  list-style: none;
  color: #283136;
}

.about-us__right-column {
  width: 360px;
}

.about-us__right-column::before {
  display: block;
  width: 360px;
  height: 208px;
  content: "";

  background: url("../img/logo-big.png") no-repeat;
}

.about-us__right-column p {
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.about-us__right-column ul {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.about-us__table-top {
  font-size: 45px;
  line-height: 10px;
  font-weight: bold;
}

.about-us__table-bottom {
  line-height: 18px;
  color: #283136;
}

/* index main partners */

.partners ul {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.partners li {
  display: inherit;
  width: 260px;
  height: 180px;
  margin: 0 auto;
  margin-right: 40px;
}

.partners li:last-child {
  margin-right: 0;
}

.partners a {
  margin: auto;

  line-height: 0;
}

.partners img {
  opacity: 0.2;
}

.partners img:hover {
  opacity: 1;
}

.partners img:active {
  opacity: 0.1;
}

/* footer  */

.site-footer {
  margin-top: 80px;
}

.site-footer img {
  display: block;
  margin: 0 auto;
}

/* footer contacts */

.contacts {
  width: 319px;
  height: 308px;
  padding: 47px 50px;
}

.contacts h2 {
  font-size: 17.5px;
  line-height: 31.5px;
  font-weight: bold;
  text-transform: uppercase;
}

.contacts p {
  line-height: 18px;
  color: #666666;
}

/* modal */

.modal {
  width: 960px;
  margin: 0 auto;
  padding: 73px 100px 84px;
}

.modal h2 {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.modal label {
  font-size: 17.5px;
  line-height: 17.5px;
  font-weight: bold;
}

.modal input[type="text"],
.modal input[type="email"],
.modal textarea {
  border-color: #d7dcde;
  outline: none;
}

.modal input[type="text"]:hover,
.modal input[type="email"]:hover,
.modal textarea:hover {
  border-color: #b4b9bb;
}

.modal input[type="text"]:focus,
.modal input[type="email"]:focus,
.modal textarea:focus {
  border-color: #000000;
}

.modal input[type="text"]:invalid,
.modal input[type="email"]:invalid,
.modal textarea:invalid {
  border-color: #e74246;
}

/* end modal */
/*  */
/* footer social */

.social {
  display: flex;
}

.social ul {
  width: 260px;
  margin: 0;
  margin-right: 140px;
  padding: 0;

  list-style: none;
}

.social div {
  width: 560px;
}

.social b {
  font-size: 35px;
  line-height: 35px;
  font-weight: bold;
}

.social p {
  line-height: 22px;
  color: #444444;
}

/* catalog.hmtl */
/* catalog.hmtl */
/* catalog.hmtl */

.button--grey {
  color: #000000;

  background-color: #eeeeee;
}

.button--grey:hover {
  background-color: #dfdfdf;
}

.button--grey:active {
  color: rgba(0, 0, 0, 0.3);

  background-color: #d5d5d5;
}

.price:active {
  color: white;
}

/* catalog header */

.catalog-header {
  padding-bottom: 109px;
}

.catalog-header nav {
  margin-bottom: 76px;
}

.site-header h1 {
  font-size: 54px;
  line-height: 54px;
  font-weight: 500;
  text-align: center;
}

/* catalog main */

.main-catalog {
  display: flex;
  justify-content: space-between;
}

/* catalog main filters */

.filters {
  width: 260px;
}

.slider {
  margin-bottom: 56px;

  line-height: 22px;
  text-transform: uppercase;
  color: #283136;
}

.filters fieldset {
  margin: 0;
  margin-bottom: 46px;
  padding: 0;

  border: 0;
}

.filters legend,
.slider p {
  font-size: 17.5px;
  line-height: 31.5px;
  font-weight: bold;
  text-transform: uppercase;
}

.filters-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.filters label {
  line-height: 20px;
  color: #283136;
}

/*  */

.container-2 {
  width: 760px;
}

/* catalog main sorting */

.sorting {
  display: flex;
  justify-content: space-between;
}

.sorting h2 {
  font-size: 17.5px;
  line-height: 31.5px;
  font-weight: bold;
  text-transform: uppercase;
}

.sorting ul {
  display: flex;

  list-style: none;
}

.sorting a {
  font-size: 14px;
  line-height: 17.5px;
  color: rgba(0, 0, 0, 0.3);
}

.sorting a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.sorting a:active {
  color: #000000;
}

.sorting__casual {
  opacity: 0.2;
}

.sorting__casual:hover {
  opacity: 1;
}

/* catalog main products */

.products ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

ul.products__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 60px;
}

.products__list li {
  width: 360px;
}

.products__list div {
  min-height: 231px;

  background-color: #eeeeee;
}

.products__link-name {
  color: #000000;
}

.products h3 {
  font-size: 17.5px;
  line-height: 31.5px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.products p {
  line-height: 18px;
  text-align: center;
  color: #666666;
}

/* .price {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  margin: 0 auto;
} */

/* .price::before {
  content: "9 900 руб.";
} */

/* catalog main products page-number */

.page-number {
  display: flex;
}

.page-number li {
  margin-right: 11px;
}

.page-number__item--active {
  background-color: white;
}

/* catalog footer */

.catalog-footer {
  margin-top: 60px;
}